<form [formGroup]="ownerForm" (ngSubmit)="formSubmit()">
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input type="text" matInput formControlName="fullName" required />
        <mat-error
          *ngIf="
            ownerForm.get('fullName')?.hasError('maxlength') &&
            !ownerForm.get('fullName')?.hasError('required')
          "
        >
          Maximum size is 100 characters
        </mat-error>
        <mat-error *ngIf="ownerForm.get('fullName')?.hasError('required')">
          Full name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input type="text" matInput formControlName="country" required />
        <mat-error
          *ngIf="
            ownerForm.get('country')?.hasError('maxlength') &&
            !ownerForm.get('country')?.hasError('required')
          "
        >
          Maximum size is 50 characters
        </mat-error>
        <mat-error *ngIf="ownerForm.get('country')?.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city" required />
        <mat-error
          *ngIf="
            ownerForm.get('city')?.hasError('maxlength') &&
            !ownerForm.get('city')?.hasError('required')
          "
        >
          Maximum size is 50 characters
        </mat-error>
        <mat-error *ngIf="ownerForm.get('city')?.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input type="text" matInput formControlName="street" required />
        <mat-error
          *ngIf="
            ownerForm.get('street')?.hasError('maxlength') &&
            !ownerForm.get('street')?.hasError('required')
          "
        >
          Maximum size is 50 characters
        </mat-error>
        <mat-error *ngIf="ownerForm.get('street')?.hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zip code</mat-label>
        <input type="text" matInput formControlName="zipCode" required />
        <mat-error
          *ngIf="
            ownerForm.get('zipCode')?.hasError('maxlength') &&
            !ownerForm.get('zipCode')?.hasError('required')
          "
        >
          Maximum size is 10 characters
        </mat-error>
        <mat-error *ngIf="ownerForm.get('zipCode')?.hasError('required')">
          Zip code is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button type="submit" [disabled]="!ownerForm.valid">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
