<mat-progress-bar
  *ngIf="store.isLoading$ | async"
  mode="indeterminate"
></mat-progress-bar>

<ng-container
  *ngIf="(store.isLoading$ | async) === false && (store.owner$ | async)"
>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Update owner "{{ (store.owner$ | async)?.fullName }}"</h1>
    <app-owner-delete
      [owner]="(store.owner$ | async)!"
      (deleted)="returnToList()"
    ></app-owner-delete>
  </div>
  <app-owner-form
    [data]="(store.owner$ | async)!"
    (save)="updateOwner($event)"
  ></app-owner-form>
</ng-container>
