<mat-sidenav-container>
  <mat-sidenav #slide autoFocus="false" fxLayout="column" mode="push">
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="slide.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-flat-button routerLink="/" color="primary">Animal management</a>
      <span fxFlex="1 1 auto"></span>
      <button mat-icon-button (click)="logout()" *ngIf="(logined$ | async) === true">
        <mat-icon>logout</mat-icon>
      </button>
      <a mat-icon-button routerLink="/login" *ngIf="(logined$ | async) === false">
        <mat-icon>login</mat-icon>
      </a>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
