<mat-progress-bar
  *ngIf="store.isLoading$ | async"
  mode="indeterminate"
></mat-progress-bar>

<ng-container
  *ngIf="(store.isLoading$ | async) === false && (store.item$ | async)"
>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Update animal</h1>
    <app-animal-delete
      [item]="(store.item$ | async)!"
      (deleted)="returnToList()"
    ></app-animal-delete>
  </div>
  <app-animal-form
    [data]="(store.item$ | async)!"
    (save)="updateItem($event)"
  ></app-animal-form>
</ng-container>
